:root {
  --clr-primary: #434455;
  --clr-primary-inverted: #e7e9fc;
  --clr-secondary: #2e2f42;
  --clr-secondary-inverted: #fff;
  --clr-brand: #4d5ae5;
  --clr-brand-interaction: #404bbf;
  --clr-brand-inverted: #f4f4fd;
  --clr-background-primary: #fff;
  --clr-background-primary-dark: #2e2f42;
  --clr-background-secondary: #f4f4fd;
  --clr-customers-border: #8e8f99;
  --clr-customers-background: #afb1b8;
  --clr-footer-socials-background: rgba(255, 255, 255, 0.1);
  --clr-footer-socials-interaction: #31d0aa;
  --clr-modal-backdrop: rgba(46, 47, 66, 0.4);
  --clr-modal-background: #fcfcfc;
  --clr-modal-btn-background: #e7e9fc;
  --clr-modal-btn-border: rgba(0, 0, 0, 0.1);
}

/* Base */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-primary);
  background-color: var(--clr-background-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  border-bottom: 1px solid var(--clr-primary-inverted);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 56px;
  column-gap: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.34;
  text-transform: uppercase;
  color: var(--clr-secondary);
}

.logo-light {
  color: var(--clr-brand-inverted);
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
}

.logo-decoration {
  color: var(--clr-brand);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-link {
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--clr-brand-interaction);
}

.nav-link {
  font-weight: 500;
  color: var(--clr-secondary);
}

.active-link {
  position: relative;
  color: var(--clr-brand-interaction);
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.header-address {
  display: flex;
  gap: 40px;
}

.address-item:last-child > .header-link {
  padding-right: 0;
}

/* Section */

.section {
  padding: 120px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--clr-secondary);
  text-align: center;
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--clr-secondary);
  margin-bottom: 8px;
}

/* Hero section */

.hero-section {
  /* background-color: var(--clr-background-primary-dark); */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--clr-secondary-inverted);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  background-color: var(--clr-brand);
  color: var(--clr-secondary-inverted);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--clr-brand-interaction);
}

/* Strenghts section */

.strengths-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.strengths-item {
  flex-basis: calc((100% - 72px) / 4);
}

.icon-container {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--clr-background-secondary);
  margin-bottom: 8px;
}

.strengths-icon {
  width: 64px;
  height: 64px;
  fill: var(--clr-secondary);
}

/* Services section */

.services-section {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.services-item {
  flex-basis: calc((100% - 48px) / 3);
}

.services-image {
  border: 1px solid var(--clr-primary-inverted);
}

/* Team section */

.team-section {
  background-color: var(--clr-background-secondary);
  padding-bottom: 110px;
}

.team-member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.team-member-card {
  background-color: var(--clr-background-primary);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.team-member-text {
  padding: 32px 0;
  text-align: center;
}

.team-member-position {
  margin-bottom: 8px;
}

/* Socials */

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-brand);
  color: var(--clr-brand-inverted);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--clr-brand-interaction);
}

/* Customers section */

.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--clr-customers-border);
  fill: var(--clr-customers-background);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 104px;
  height: 56px;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--clr-brand-interaction);
  fill: var(--clr-brand-interaction);
}

/* Footer */

.footer {
  background-color: var(--clr-background-primary-dark);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.footer-text {
  color: var(--clr-primary-inverted);
  max-width: 264px;
  margin-bottom: 0;
}

.socials-title {
  color: var(--clr-secondary-inverted);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-list {
  gap: 16px;
}

.footer-link {
  background-color: var(--clr-footer-socials-background);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--clr-footer-socials-interaction);
}

.footer-icon {
  width: 24px;
  height: 24px;
}

/*                */
/* PORTFOLIO PAGE */
/*                */

/* Portfolio section */

.portfolio-section {
  padding-top: 96px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 76px;
  flex-wrap: wrap;
}

.filter-button {
  background-color: var(--clr-brand-inverted);
  color: var(--clr-brand);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  border: 1px solid var(--clr-primary-inverted);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--clr-brand-interaction);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--clr-brand-interaction);
  color: var(--clr-secondary-inverted);
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.portfolio-description {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px 0 32px;
  background-color: var(--clr-brand);
  color: var(--clr-brand-inverted);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(0);
}

.card-text {
  padding: 30px 16px;
  border-left: 1px solid var(--clr-primary-inverted);
  border-right: 1px solid var(--clr-primary-inverted);
  border-bottom: 1px solid var(--clr-primary-inverted);
}

.card-description {
  margin-bottom: 0;
}

/* Modal */

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-modal-backdrop);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  width: 408px;
  height: 576px;
  background-color: var(--clr-modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--clr-modal-btn-background);
  border: 1px solid var(--clr-modal-btn-border);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--clr-brand-interaction);
  border: 1px solid var(--clr-brand-interaction);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--clr-secondary-inverted);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}
